---
import { ViewTransitions } from 'astro:transitions';
import UserIcon from '@components/UserIcon.astro';
type Props = {
  title: string;
};
const { title } = Astro.props;
const { pathname } = Astro.url;
const links = ['about', 'blog', 'projects', 'TIL'];
const isCurrentPage = (href: string) => {
  return pathname === `/${href}`;
};
const isHomePage = isCurrentPage('');
Astro.response.headers.set('Cache-Control', 'public, max-age=0, must-revalidate');
Astro.response.headers.set('Netlify-CDN-Cache-Control', 'public, durable, max-age=31536000, s-maxage=31536000');
---

<html lang='en' class='min-h-dvh'>
  <head>
    <ViewTransitions />
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='min-h-dvh bg-zinc-800 text-zinc-200'>
    <div class='container mx-auto px-4 py-8 flex flex-col gap-8'>
      <header class='w-full flex md:gap-16 md:justify-center items-center relative'>
        {!isHomePage && <UserIcon /> }
        <nav
          class='hidden md:flex justify-center gap-8 rounded-full font-semibold w-min px-8 py-2 shadow-zinc-200/20 shadow-[12px_12px_12px_-12px_-12px_-12px]'>
          {
            links.map((link) => (
              <a
                data-astro-prefetch
                href={isCurrentPage(link) ? '#' : link}
                class='hover:text-primary transition-colors p-1 outline-primary duration-300 border-b border-b-transparent hover:border-b-primary capitalize'>
                {link}
              </a>
            ))
          }
        </nav>
        <button popovertarget="mypopover"  class='md:hidden fixed top-8 right-4 '>
          <svg width='1.5rem' height='1.5rem' class="stroke-zinc-200 scale-x-[-1] active:scale-x-[-1.05] active:stroke-primary transition-colors" viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path
              d='M4 6H20M4 12H14M4 18H9'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'>
            </path>
          </svg>
        </button>
        <div id='mypopover' popover class='m-0 w-full bg-transparent p-4'>
          <div class='bg-zinc-700 rounded-lg p-4'>
            <ul class='flex flex-col text-zinc-200 text-lg gap-2'>
              {
                links.map((link) => (
                  <li>
                    <a
                      data-astro-prefetch
                      href={isCurrentPage(link) ? '#' : link}
                      class='hover:text-primary transition-colors p-1 outline-primary duration-300 border-b border-b-transparent hover:border-b-primary capitalize'>
                      {link}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
        <!-- <details class='md:hidden w-fit p-2 border' open>
          <summary class=''>Details</summary>
          <ul class='border'>
            {
              links.map((link) => (
                <li>
                  <a
                    data-astro-prefetch
                    href={isCurrentPage(link) ? '#' : link}
                    class='hover:text-primary transition-colors p-1 outline-primary duration-300 border-b border-b-transparent hover:border-b-primary capitalize'>
                    {link}
                  </a>
                </li>
              ))
            }
          </ul>
        </details> -->
      </header>
      <slot />
      <footer class='w-full flex justify-center'></footer>
    </div>
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'GeistRegular';
    src: url('/fonts/Geist-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  details summary::-webkit-details-marker {
    display: none;
  }
</style>
