---
import { ViewTransitions } from 'astro:transitions';
import UserIcon from '@components/UserIcon.astro';
import Menu from '@components/Menu.astro';
type Props = {
  title: string;
};
const { title } = Astro.props;
const links = ['about', 'blog', 'projects', 'TIL'];
const isCurrentPage = (href: string) => {
  return Astro.url.pathname === `/${href}`;
};
const hiddenUserIcon = isCurrentPage('about') || isCurrentPage('');
Astro.response.headers.set('Cache-Control', 'public, max-age=0, must-revalidate');
Astro.response.headers.set('Netlify-CDN-Cache-Control', 'public, durable, max-age=31536000, s-maxage=31536000');
---

<html lang='en' class='min-h-dvh'>
  <head>
    <ViewTransitions />
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='min-h-dvh bg-zinc-800 text-zinc-200 grid'>
    <div class='container md:px-48 mx-auto py-8 px-6 space-y-8 grid grid-rows-[auto_1fr_auto]'>
      <header class='w-full flex md:gap-16 md:justify-center items-center relative'>
        {!hiddenUserIcon && <UserIcon />}
        <nav
          class='hidden md:flex justify-center gap-8 rounded-full font-semibold w-min px-8 py-2 shadow-zinc-200/20 shadow-[12px_12px_12px_-12px_-12px_-12px]'>
          <a
            data-astro-prefetch
            href='/'
            class='hover:text-primary transition-colors p-1 outline-primary duration-300 border-b border-b-transparent hover:border-b-primary capitalize'>
            Home
          </a>
          {
            links.map((link) => (
              <a
                data-astro-prefetch
                href={isCurrentPage(link) ? '#' : link.toLowerCase()}
                class='hover:text-primary transition-colors p-1 outline-primary duration-300 border-b border-b-transparent hover:border-b-primary capitalize'>
                {link}
              </a>
            ))
          }
        </nav>
        <Menu links={links} />
      </header>
      <main><slot /></main>
      <footer class='w-full text-zinc-500 py-4 left-0 text-center text-sm'>Copyright © 2024 Dario Puddinu</footer>
    </div>
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'GeistRegular';
    src: url('/fonts/Geist-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  details summary::-webkit-details-marker {
    display: none;
  }
</style>

<style>
  :root {
    --popover-animation-duration: 0.3s;
  }
  [popover]:popover-open {
    opacity: 1;
  }
  [popover] {
    /* Final state of the exit animation */
    opacity: 0;
    transition:
      opacity var(--popover-animation-duration) ease-in-out,
      overlay var(--popover-animation-duration) allow-discrete,
      display var(--popover-animation-duration) allow-discrete;
  }
  @starting-style {
    [popover]:popover-open {
      opacity: 0;
    }
  }

  [popover]::backdrop {
    backdrop-filter: blur(2px);
  }
</style>
